<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}"
    xml:lang="{% firstof LANGUAGE_CODE 'en' %}"
    lang="{% firstof LANGUAGE_CODE 'en' %}">
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}{% endblock %} - Site Search</title>
    {% block css %}
      <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}combined-{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}.css" />
    {% endblock %}

    {% block js %}
      <script type="text/javascript" src="{{ MEDIA_URL }}combined-{{ LANGUAGE_CODE }}.js"></script>
    {% endblock %}

    {% block extra-head %}{% endblock %}
  </head>

  <body>
  <form name="search" method="get" action="/search">

  <table border="0" cellpadding="5" cellspacing="5">
	  <tr height=15px>
	    <td colspan="3"></td>
	  </tr>  
      <tr>

        <td width="200" align="center"><input name="query" type="text" class="searchformfields" id="query" size="30" maxlength="100" value="{{query }}"></td>
        <td width="180"><input type="submit" value=" Search "></td>
      </tr>
	  <tr height=9px>
	    <td colspan="3"></td>
	  </tr>
  </table>
  </form> 
    <div id="contents">
      {% block content-header %}
        {% if error %}<div class="error">{{ error }}</div>{% endif %}
        {% if info %}<div class="info">{{ info }}</div>{% endif %}
        {% if messages %}
          {% for message in messages %}
            <div class="info">{{ message }}</div>
          {% endfor %}
        {% endif %}
      {% endblock %}
      {% block content %}{% endblock %}
   </div>

<div align="center"><script type="text/javascript"><!--
google_ad_client = "pub-8243923714684760";
/* 728x90, created 12/04/09 */
google_ad_slot = "3866196273";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script></div>
<script type="text/javascript"> var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www."); document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E")); </script> <script type="text/javascript"> try { var pageTracker = _gat._getTracker("UA-842424-2"); pageTracker._trackPageview(); } catch(err) {}</script>    
  </body>
</html>
